.Item a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15;
    letter-spacing: 2px;
}

.Item a:hover {
    color: #e6ae48;
}