.Preview {
    display: block;
    width: 40%;
    height: 40%;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    padding: 22px 0px;
    margin: 22px;
}