.Navigation {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.Logo {
    display: inline-block;
    vertical-align: middle;
    /* Adjust margin-left with media queries for smaller screen sizes */
    margin-left: 150px;
}

.Items {
    display: inline-block;
    vertical-align: middle;
    float: right;
    /* Adjust margin-right with media queries for smaller screen sizes */
    margin-right: 200px; 
}

.Items ul {
    margin: 0;
    padding: 0;
}

.Items li {
    float: left;
    list-style-type: none;
}