/* TODO: some adjustments to different media */

.Navigation {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    background-color: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.Logo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 150px;
}

.Items {
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 200px; 
}

.Items ul {
    margin: 0;
    padding: 0;
}

.Items li {
    float: left;
    list-style-type: none;
}

@media (max-width: 1300px) {
    .Logo {
        margin-left: 50px;
    }
    
    .Items {
        margin-right: 150px; 
    }
}

@media (max-width: 1000px) {
    .Logo {
        margin-left: 0px;
    }
    
    .Items {
        margin-right: 0px; 
    }
}