.CV {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.CV a {
    text-decoration: none;
    color: inherit;
}